#data-frame {
    display: none;
}

.prices {
    font-size: 32px;
    font-family: 'Rubik', sans-serif;
    display: none;
    text-align: center;
}

h2 {
    font-size: 42px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

#container {
    display: grid;
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

img {
    margin-top: 16px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#more-or-less-div {
    font-size: 32px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding: 16px;
}

@media only screen and (max-width: 600px) {
    h2 {
      font-size: 24px;
    }
    #container {
        grid-template-rows: 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
    }
    .card {
        margin-bottom: 20px;
    }
    footer {
        text-align: center;
    }
    #more-or-less-div {
        margin-top: -20px;
    }
}

@media only screen and (min-width: 600px) {
    body {
        margin-top: 25%;
    }
    #container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .card {
        margin-bottom: 20px;
    }
    footer {
        position: fixed;
        text-align: right;
    }
}

footer {
    bottom: 0;
    right: 16px;
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: black;
    letter-spacing: 0.19px;
}

a:hover {
    border-bottom: solid;
    border-width: 2px;
}

a {
    color: black;
    text-decoration: none;
}

#select-div {
    text-align: center;
}

select {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
}

.card-img {
    display: none;
}